@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');

/*----------------------------------------------
                BASIC
----------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(2-02.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    padding: 0 10px;
    user-select: none;
    background-image: url("images/jungle-vector.jpg");
}

html,
body {
    overflow: hidden;
    font-family: Oxygen;
    color: #004225;
}


.select-item{
    border: 3px solid #fafafa;
    border-radius: 5px;
}

/*----------------------------------------------
            OVERLAY Y MODALES
----------------------------------------------*/

.overlay-inicio,
.overlay-reinicio,
.overlay-niveles {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-bienvenida {
    z-index: 6;
}

.overlay-inicio {
    z-index: 5;
}

.contenedor-niveles {
    z-index: 4;
}

.overlay-niveles {
    z-index: 3;
}

.contenedor-reinicio {
    z-index: 2;
}

.overlay-reinicio {
    z-index: 1;
}

.contenedor-bienvenida,
.contenedor-niveles,
.contenedor-reinicio {
    width: 40vw;
    position: relative;
    top: 36%;
    left: 20%;
    background-color: #a5d610;
    border: 3px solid #004225;
    text-align: center;
    border-radius: 15px;
    margin: 10px 30px;
    padding: 0 30px;
    display: inline-block;
    transform: translate(-50%, -50%);
}

.titulo-bienvenida {
    font-weight: 400;
    font-size: 50px;
    font-family: "Hanalei Fill";
    margin: 25px 0;
    text-shadow: 2px 2px 4px #fafafa;
}

.titulo-controles,
.titulo-niveles {
    font-family: "Hanalei Fill";
    font-size: 28px;
    text-align: center;
    margin: 20px 20px 10px 20px;
    text-shadow: 2px 2px 4px #fafafa;
}

.txt-nuevo-juego {
    margin-bottom: 20px;
}

.txt-bienvenida,
.txt-controles {
    font-size: 16px;
    text-shadow: 2px 2px 4px #fafafa;
}

.txt-bienvenida {
    padding: 10px;
}

.txt-controles {
    padding: 2px;
}

.boton-basico {
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin: 20px;
    background-color: #004225;
    color: #fafafa;
    font-size: 24px;
    font-family: "Hanalei Fill";
    border-radius: 10px;
    cursor: pointer;
}

.size-emoji {
    font-size: 25px;
}

.boton-niveles {
    width: 200px;
    padding: 5px;
    margin: 10px;
}


/*----------------------------------------------
            SECCIÓN PRINCIPAL
----------------------------------------------*/

.seccion-principal {
    height: 100vh;
}

.nombre-juego {
    font-size: 50px;
    font-family: "Hanalei Fill";
    margin: 5px 0;
    color: #004225;
    text-shadow: 2px 2px 4px #fafafa;
    text-align: center;
}

.contenedor-juego {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #a5d610;
    border: 3px solid #004225;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fafafa;
}

.contenedor-puntaje {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: "Hanalei Fill";
    font-weight: 100;
}

.contenedor-puntaje p {
    display: flex;
}

#combo {
    width: 20px;
    margin-right: 20px;
}

#puntaje {
    margin-left: 15px;
}

.img-input,
.info-button,
.refresh-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.contenedor-timer,
.contenedor-refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "Hanalei Fill";
    font-weight: 100;
    flex-wrap: nowrap;
}

#boton-info,
#boton-reiniciar {
    background-color: transparent;
    border: 0;
    padding: 5px;
    color: #424242;
    font-size: 20px;
}

#boton-reiniciar i {
    transform: rotate(0);
    transition: 0.2s;
}

.caja-grilla {
    width: auto;
    height: auto;
    border-radius: 10px;
    border: 3px solid #004225;
    background-color: #42424280;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    box-sizing: content-box;
}

#grilla {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#grilla div {
    margin: 1px;
    box-sizing: content-box;
    padding: 1px;
}

.timer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}


/*----------------------------------------------
                DISPLAY NONE
----------------------------------------------*/

.oculto {
    /* revisar si conviene usar display none o moverlo fuera del foco */
    display: none;
}

.fuera-de-foco {
    opacity: 0;
    visibility: hidden;
    left: 2500px;
}