@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(2-02.svg);
    background-size: cover;
    background-position-y: 50%;
    padding: 0 10px;
    user-select: none;
    background-image: url("imagenes/jungle-vector.jpg")
}
        
html, body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: 'Pacifico', sans-serif;
    color: #424242;
    text-shadow: 1px 1px #fafafa, 1px -1px #fafafa, -1px -1px #fafafa, -1px 1px #fafafa;
}

.contenedor-fondo {
    max-width: 500px;
    width: 500px;
}

.nombre-juego {
    text-align: center;
    font-size: 45px;
    font-family: 'Fredoka One', cursive;
    margin-top: 0;
    align-content: center;
    font-weight: 800;
    color: #dc2f02;
    margin-bottom: 60px;
}

.caja-combo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fca311;
    padding: 5px 10px;
    border-radius: 8px;
    border: 3px solid #fafafa;
    color: #fafafa;
    text-shadow: 1px 1px #424242, 1px -1px #424242, -1px -1px #424242, -1px 1px #424242;
    box-shadow: 0px 0px 5px 4px #00000021 inset;
}

.contenedor-puntaje {
    display: flex;
    align-items: center;
    font-size: 22px;
}

.contenedor-puntaje p {
    display: flex;
}

#combo {
    width: 20px;
    margin-right: 20px;
}

#puntaje {
    margin-left: 15px;
}

#boton-ayuda, #boton-reiniciar {
    background-color: transparent;
    border: 0;
    padding: 5px;
    color: #424242;
    font-size: 20px;
    cursor: pointer;
}

#boton-reiniciar i {
    transform: rotate(0);
    transition: 0.2s;
}

.caja-grilla {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #fafafa;
    background: rgb(0 0 0 / 73%);
}

#grillas {
    position: relative;
    width: 100%;
    height: 500px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    transition: opacity 0.3s;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #e09f3e;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    display: inline-block;
    transform: translate(-50%, -50%);
}

.modal-titulo {
    color: black;
    font-weight: 600;
    position: relative;
    display: block;
    padding: 13px 16px;
    font-size: 27px;
    text-align: center;
}

.modal-texto {
    margin-bottom: 20px;
}

.modal-button {
    text-align: center;
    padding-top: 13px;
    margin-top: 13px;
    padding: 13px 25px 18px;
}


.oculto {
    display: none;
}